:root {
    --cor1: #53B1E0;
    --cor2: #28556B;
    --cor3: #176B94;
    --cor4: #193442;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
 
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Georgia;
    font-size: 1.8rem; 
    font-weight: 400;
    line-height: 1.4;
    color: var(--cor1);
  }
  
  h1,
  h2 {
    font-family: Georgia;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--cor1);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
    
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--cor2);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    }
  
  .navlist {
    display: flex;
    margin-right: 2rem;
  }
     
    .navlist {
      margin: 0 1rem;
    }
    
  .navlist a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .navlist a:hover {
    background: var(--cor3);
  }
  
 
  .section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cor4);
    background-image: linear-gradient(50deg, #3a3d40 20%, #181719 80%);
  }

  .section-formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: var(--cor4);
    font-size: 2.2rem;
 }
  
  .section-about > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--cor3);
  }
  
   
  .section-projetos {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--cor2);
    padding: 6rem 1rem;
  }
  
  .header-projeto {
    max-width: 640px;
    margin: 0 auto 6rem auto;   
  }
  
  .grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  .projeto {
    background: var(--cor4);
    border-radius: 2px;
  }
  
   
  .projeto-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .projeto-titulo {
    font-size: 2rem;
    padding: 2rem 0.5rem;    
  }
  
  .links-contato {
    display: inline-flex;
    justify-content: space-around;
    padding: 5rem 30rem;
    border-radius: 2px;            
  }
  
  .link-perfil {
    font-size: 2rem;
    background: var(--cor4);
    transition: background 0.3s ease-out;
  }
  
  .link-perfil:hover {
    background: var(--cor2);
  }
         
  .section-contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 0 2rem;
    background: var(--cor4);
  }
  
  .header-contato > h2 {
    font-size: 4rem;
  }

  .formulario{
    width: 80%;
    text-decoration: none;
    padding-left: 60rem;
  }

  input[type="submit"] {
    width: 150px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.3rem;
    background-color: var(--cor1);
    color: var(--cor4);
    border-color: white;
    font-weight: 700;       
  }
   
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--cor4);
    border-top: 4px solid var(--cor2);
  }
   
  
  